
# Backend
 # DB creds (single source of truth)
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=mystore

 # Build DATABASE_URL dynamically
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}

BETTERAUTH_SECRET=your-secret-key
BETTERAUTH_URL=http://localhost:5000
PORT=5000
NODE_ENV=development
PLATFORM_COMMISSION_PERCENT=10
PAYOUT_HOLD_DAYS=1
ADMIN_EMAIL = admin@gmail.com
# Frontend
NEXT_PUBLIC_API_BASE_URL=http://localhost:5000