version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: mystore-postgres
    environment:
      POSTGRES_USER: mystore_user
      POSTGRES_PASSWORD: mystore_password
      POSTGRES_DB: mystore
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: unless-stopped
    
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8080:80"

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: mystore-backend
    env_file:
      - ./.env
    ports:
      - "5000:5000"
    depends_on:
      - postgres
    environment:
    - CHOKIDAR_USEPOLLING=true
    volumes:
      - ./backend:/app
      - backend_node_modules:/app/node_modules
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_API_BASE_URL: ${NEXT_PUBLIC_API_BASE_URL}  # Build-time env for Next.js
    container_name: mystore-frontend
    env_file:
      - ./.env  # Runtime envs
    ports:
      - "3000:3000"
    depends_on:
      - backend
    environment:
      - CHOKIDAR_USEPOLLING=true
    volumes:
      - ./frontend:/app
      - frontend_node_modules:/app/node_modules
      - frontend_next:/app/.next
    restart: unless-stopped

volumes:
  postgres_data:
  backend_node_modules:
  frontend_node_modules:
  frontend_next:

